.navcontainer_v {
  width: 200px; /* Fixed width image ! */
/*  margin: 10px;*/
  border: none;
}
.navcontainer_v ul, .navcontainer_v ul li {
  list-style:none;
  margin:0;
  padding:0;
}
.navcontainer_v li a {
  height:32px;
  voice-family:"\"}\""; 
  voice-family:inherit;
  height:22px;
  text-decoration:none;
}
.navcontainer_v li a:link, .navcontainer_v li a:visited {
  color:#666;
  display:block;
  background:url(../../images/extmenu/vertical/ebmenu12.gif);
  padding:10px 0 0 35px;
}
.navcontainer_v li a:hover, .navcontainer_v li.selected a {
  color:#000;
  background:url(../../images/extmenu/vertical/ebmenu12.gif) 0 -32px;
  padding:10px 0 0 35px;
  text-decoration:none;
}
/* Holly Hack for IE \*/
* html .navcontainer_v ul li { float: left; height: 1%; }
/* End */