.navcontainer_v {
/*  width: 200px;
  margin: 10px;*/
  border-style:solid solid none solid;
  border-color:#889944;
  border-width:1px;
}
.navcontainer_v ul, .navcontainer_v ul li {
  list-style:none;
  margin:0;
  padding:0;
}
.navcontainer_v li a {
  height:32px;
  voice-family:"\"}\""; 
  voice-family:inherit;
  height:24px;
  text-decoration:none;
}
.navcontainer_v li a:link, .navcontainer_v li a:visited {
  color:#889944;
  display:block;
  background:url(../../images/extmenu/vertical/ebmenu11.gif);
  padding:8px 0 0 25px;
}
.navcontainer_v li a:hover, .navcontainer_v li.selected a {
  color:#889944;
  background:url(../../images/extmenu/vertical/ebmenu11.gif) 0 -32px;
  padding:8px 0 0 27px;
  text-decoration:none;
}
/* Holly Hack for IE \*/
* html .navcontainer_v ul li { float: left; height: 1%; }
/* End */