/* $Id: chromestyle_blue.css 460 2009-12-13 18:28:31Z espaan $ */
/*=============================================================================
Original at http://www.dynamicdrive.com/dynamicindex1/chrome/index.htm
Adapted for Zikula menutree, Erik Spaan, http://code.zikula.org/blanktheme
=============================================================================*/
#nav ul {margin:0;}

.chromestyle{
margin:0;
padding:0;
width: 100%;
font: bold 1.1em "Trebuchet MS", "Lucida Sans", Verdana, Arial, sans-serif;
}

.chromestyle:after{ /*Add margin between menu and rest of content in Firefox*/
content: "."; 
display: block; 
height: 0; 
clear: both; 
visibility: hidden;
}

.chromestyle ul{
border: 1px solid #BBB;
border-width: 1px 0;
width: 100%;
background: url(../pnimages/chromestyle/chromebg2.gif) center center repeat-x; /*THEME CHANGE HERE*/
padding: 4px 0;
margin: 0;
text-align: center; /*set value to "left", "center", or "right"*/
}

.chromestyle ul li{
display: inline;
margin:0;
padding:0;
}

.chromestyle ul li a{
color: #494949;
padding: 4px 7px;
margin: 0;
text-decoration: none;
border-right: 1px solid #ADED7C; /*THEME CHANGE HERE*/
}

.chromestyle ul li a:hover, .chromestyle ul li.selected a{
background: url(../pnimages/chromestyle/chromebg2-over.gif) center center repeat-x; /*THEME CHANGE HERE*/
text-decoration: none;
}

.chromestyle ul li a[rel]:after{ /*HTML to indicate drop down link*/
/*content: " v";*/
content: " " url(../pnimages/chromestyle/chrome_downarrow.gif);
}

/* ######### Style for Drop Down Menu ######### */
.dropmenudiv_cdd{
position:absolute;
top: 0;
border: 1px solid #ADED7C; /*THEME CHANGE HERE*/
border-bottom-width: 0;
font: bold 1.1em "Trebuchet MS", "Lucida Sans", Verdana, Arial, sans-serif;
line-height:20px;
z-index:110;
background-color: white;
width: 200px;
visibility: hidden;
filter: progid:DXImageTransform.Microsoft.Shadow(color=#CACACA,direction=135,strength=4); /*Add Shadow in IE. Remove if desired*/
}

.dropmenudiv_cdd a{
width: 100%;
display: block;
text-indent: 7px;
border: 1px solid #ADED7C; /*THEME CHANGE HERE*/
padding: 2px 0;
text-decoration: none;
font-weight: bold;
color: black;
}

.dropmenudiv_cdd a:hover{ /*THEME CHANGE HERE*/
background-color: #EAFADC;
text-decoration: none;
}