/* $Id: ddtabs_blackpurple.css 460 2009-12-13 18:28:31Z espaan $ */
/*=============================================================================
Original at http://www.dynamicdrive.com/dynamicindex1/droptabmenu.htm 
Adapted for Zikula menutree, Erik Spaan, http://code.zikula.org/blanktheme
/*===========================================================================*/
.ddcolortabs{
margin:0;
padding: 0;
width: 100%;
background: transparent;
}

.ddcolortabs ul{
font: normal 11px Verdana, Arial, sans-serif;
margin:0;
padding:0;
padding-left: 5px;
list-style:none;
}

.ddcolortabs li{
display:inline;
margin:0 2px 0 0;
padding:0;
text-transform:uppercase;
}

.ddcolortabs a{
float:left;
color: white;
background: black url(../pnimages/ddtabs_blackpurple/ddtabs_blackpurple_left.gif) no-repeat left top;
margin:0 2px 0 0;
padding:0 0 1px 3px;
text-decoration:none;
letter-spacing: 1px;
}

.ddcolortabs a span{
float:left;
display:block;
background: transparent url(../pnimages/ddtabs_blackpurple/ddtabs_blackpurple_right.gif) no-repeat right top;
padding: 4px 8px 2px 7px;
}

.ddcolortabs a span{
float:none;
}

.ddcolortabs a:hover{
background-color: #591f20;
color: white;
text-decoration:none;
}

.ddcolortabs a:hover span{
background-color: #591f20;
}

.ddcolortabs .selected a, #ddtabs_blackpurple .selected a span{ /*currently selected tab*/
background-color: #591f20;
color: white;
}

.ddcolortabsline{
clear: both;
padding: 0;
width: 100%;
height: 8px;
line-height: 8px;
background: black;
border-top: 1px solid #fff; /*Remove this to remove border between bar and tabs*/
}

/* ######### Style for Drop Down Menu ######### */
.dropmenudiv_ddct{
position:absolute;
top: 0;
border: 1px solid black; /*THEME CHANGE HERE*/
border-top-width: 8px; /*Top border width. Should match height of .ddcolortabsline above*/
border-bottom-width: 0;
font: bold 12px Arial, Verdana, sans-serif;
/*font:normal 12px Arial;*/
line-height:18px;
z-index:110;
background-color: white;
width: 200px;
visibility: hidden;
}

.dropmenudiv_ddct a{
width: auto;
display: block;
text-indent: 5px;
border-top: 0 solid #678b3f;
border-bottom: 1px solid #678b3f; /*THEME CHANGE HERE*/
padding: 2px 0;
text-decoration: none;
color: black;
}

* html .dropmenudiv_ddct a{ /*IE only hack*/
width: 100%;
}

.dropmenudiv_ddct a:hover{ /*THEME CHANGE HERE*/
text-decoration: none;
background-color: #8a3c3d;
color: white;
}