/* $Id: ddtabs_slidingdoor_brown.css 460 2009-12-13 18:28:31Z espaan $ */
/*=============================================================================
Original at http://www.dynamicdrive.com/dynamicindex1/droptabmenu.htm 
Adapted for Zikula menutree, Erik Spaan, http://code.zikula.org/blanktheme
/*===========================================================================*/
.slidingdoortabs{
margin:0;
padding:0;
float:left;
width:100%;
font-size: 12px;
line-height:normal;
background:#DAE0D2 url(../pnimages/ddtabs_slidingdoor/sd_bg_brown.gif) repeat-x bottom;
}

* html .slidingdoortabs{ /*IE only. Add 1em spacing between menu and rest of content*/
margin-bottom: 1em;
}

.slidingdoortabs ul{
list-style: none;
margin:0;
padding:10px 10px 0;
}

.slidingdoortabs li{
display:inline;
margin:0;
padding:0;
}

.slidingdoortabs a{
float:left;
background:url(../pnimages/ddtabs_slidingdoor/sd_left_brown.gif) no-repeat left top;
margin:0;
margin-right: 5px;
padding:0 0 0 9px;
border-bottom:1px solid #765;
text-decoration:none;
}

.slidingdoortabs a span {
float:left;
display:block;
background:url(../pnimages/ddtabs_slidingdoor/sd_right_brown.gif) no-repeat right top;
padding:5px 15px 4px 6px;
font-weight:bold;
color:#765;
}

/* Commented Backslash Hack hides rule from IE5-Mac \*/
.slidingdoortabs a span {float:none;}
/* End IE5-Mac hack */

.slidingdoortabs a:hover span, .slidingdoortabs li.selected a span{
color: black;
}

.slidingdoortabs a:hover, .slidingdoortabs li.selected a{
background-position:0% -150px;
}

.slidingdoortabs a:hover span, .slidingdoortabs li.selected a span{
background-position:100% -150px;
}

html>/**/body .IEonlybr{ /*None IE browsers hack*/
display: none; /*Hide BR tag in non IE browsers, since it's not needed*/
}

/* ######### Style for Drop Down Menu ######### */
.dropmenudiv_sdt{
position:absolute;
margin:0;
padding:0;
top: 0;
border: 1px solid #918d8d; /*THEME CHANGE HERE*/
border-width: 0 1px;
font:normal 12px Verdana;
line-height:18px;
z-index:110;
background-color: white;
width: 200px;
visibility: hidden;
}

.dropmenudiv_sdt a{
width: auto;
display: block;
text-indent: 5px;
border: 0 solid #918d8d; /*THEME CHANGE HERE*/
border-bottom-width: 1px;
padding: 2px 0;
text-decoration: none;
font-weight: bold;
color: black;
}

* html .dropmenudiv_sdt a{ /*IE only hack*/
width: 100%;
}

.dropmenudiv_sdt a:hover{ /*THEME CHANGE HERE*/
background-color: #eaeaea;
}
