/* $Id: ddtabs_halfmoon.css 460 2009-12-13 18:28:31Z espaan $ */
/*=============================================================================
Original at http://www.dynamicdrive.com/dynamicindex1/droptabmenu.htm 
Adapted for Zikula menutree, Erik Spaan, http://code.zikula.org/blanktheme
/*===========================================================================*/
#nav ul {margin:0;}

.halfmoontabs{
float:left;
width:100%;
margin: 0;
padding: 0;
}

* html .halfmoontabs{ /*IE only. Add 1em spacing between menu and rest of content*/
margin-bottom: 1em;
}

.halfmoontabs ul{
padding: 3px 9px 0px 5px;
margin: 1px 0 0 1px;
font: bold 13px Verdana, Arial, sans-serif;
list-style-type: none;
text-align: left; /*set to left, center, or right to align the menu as desired*/
border: 0;
border-bottom: 1px solid #929492;
}

.halfmoontabs li{
display: inline;
margin: 0;
padding: 0;
}

.halfmoontabs li a{
text-decoration: none;
padding: 3px 9px 2px 5px;
margin: 0;
margin-right: 2px; /*distance between each tab*/
border: 0;
border-left: 1px solid gray;
color: black;
background: #e5febc url(../pnimages/ddtabs_halfmoon/halfmoontab.gif) top right no-repeat;
}

.halfmoontabs li a:visited{
color: black;
}

.halfmoontabs li a:hover, .halfmoontabs li.selected a{
background-color: #c8e181;
text-decoration: none;
}

/* ######### Style for Drop Down Menu ######### */
.dropmenudiv_hmt{
position:absolute;
border: 1px solid #657f27; /*THEME CHANGE HERE*/
border-width: 0 1px;
font: bold 12px Verdana, Arial, sans-serif;
line-height: 20px;
z-index: 110;
background-color: #eff8d2;
width: 200px;
visibility: hidden;
}

.dropmenudiv_hmt a{
width: auto;
display: block;
text-indent: 5px;
border: 0 solid #657f27; /*THEME CHANGE HERE*/
border-bottom-width: 1px;
padding: 2px 0;
text-decoration: none;
color: black;
}

* html .dropmenudiv_hmt a{ /*IE only hack*/
width: 100%;
}

.dropmenudiv_hmt a:hover{ /*THEME CHANGE HERE*/
background-color: #c8e181;
text-decoration: none;
}

/* Holly Hack for IE \*/
* html .halfmoontabs ul li { height: 1%; }
* html .halfmoontabs ul li a { height: 1%; }
/* End */