/* $Id: ddtabs_glowing.css 460 2009-12-13 18:28:31Z espaan $ */
/*=============================================================================
Original at http://www.dynamicdrive.com/dynamicindex1/droptabmenu.htm 
Adapted for Zikula menutree, Erik Spaan, http://code.zikula.org/blanktheme
/*===========================================================================*/
.glowingtabs{
float:left;
width:100%;
font-size: 12px;
line-height:normal;
border-bottom: 1px solid #dcc208; /*Add border strip to bottom of menu*/
}

.glowingtabs ul{
list-style-type: none;
margin:0;
padding:0;
padding-left: 5px; /*Left offset of entire tab menu relative to page*/
}

.glowingtabs li{
display:inline;
margin:0;
padding:0;
}

.glowingtabs a{
float:left;
background:url(../pnimages/ddtabs_glowing/glowingtab_left.gif) no-repeat left top;
margin:0;
margin-right: 5px; /*spacing between each tab*/
padding:0 0 0 9px;
text-decoration:none;
}

.glowingtabs a span{
float:left;
display:block;
background:url(../pnimages/ddtabs_glowing/glowingtab_right.gif) no-repeat right top;
padding: 4px 12px 2px 3px;
font-weight:bold;
color:#3B3B3B;
}

/* Commented Backslash Hack hides rule from IE5-Mac \*/
.glowingtabs a span {float:none;}
/* End IE5-Mac hack */

.glowingtabs a:hover span {
color: black;
}

.glowingtabs li.selected a{ /*Selected Tab style*/
background-position:0 -82px; /*Shift background image up to start of 2nd tab image*/
}

.glowingtabs li.selected a span{ /*Selected Tab style*/
background-position:100% -82px; /*Shift background image up to start of 2nd tab image*/
color: black;
}

.glowingtabs a:hover, .glowingtabs li.selected a:hover{ /*onMouseover style*/
text-decoration:none;
background-position:0% -82px; /*Shift background image up to start of 2nd tab image*/
}

.glowingtabs a:hover span, .glowingtabs li.selected a:hover span{ /*onMouseover style*/
background-position:100% -82px; /*Shift background image up to start of 2nd tab image*/
}

/* ######### Style for Drop Down Menu ######### */
.dropmenudiv_gt{
position:absolute;
top: 0;
border: 1px solid #dcc208; /*THEME CHANGE HERE*/
border-width: 0 1px;
font:normal 12px Verdana;
line-height:18px;
z-index:110;
background-color: white;
width: 200px;
visibility: hidden;
}

.dropmenudiv_gt a{
width: auto;
display: block;
text-indent: 5px;
border: 0 solid #dcc208; /*THEME CHANGE HERE*/
border-bottom-width: 1px;
padding: 2px 0;
text-decoration: none;
color: black;
}

* html .dropmenudiv_gt a{ /*IE only hack*/
width: 100%;
}

.dropmenudiv_gt a:hover{ /*THEME CHANGE HERE*/
text-decoration: none;
background-color: #fef8c8;
}

