/*=============================================================================
Original at http://www.dynamicdrive.com/dynamicindex1/droptabmenu.htm 
Adapted for Zikula menutree, Erik Spaan, https://github.com/espaan/menus_menutree_extmenu
=============================================================================*/
.solidblocktabs{
font: bold 13px Arial;
border: 1px solid #3a6594;
border-width: 0;
background: #3a6594 url(../../../images/menutree/ddtabs_solidblock/sb_blue.gif) center center repeat-x;
margin:0;
padding:0;
float:left;
width:100%;
}

* html .solidblocktabs{ /*IE only. Add 1em spacing between menu and rest of content*/
margin-bottom:1em;
}

.solidblocktabs ul{
list-style:none;
margin:0;
padding:0;
}

.solidblocktabs li{
display:inline;
margin:0;
}

.solidblocktabs li a{
color: #f9f9f9;
padding: 9px 16px;
border-right: 0px solid #f9f9f9;
float:left;
margin:0;
text-decoration:none;
}

.solidblocktabs a:link, .solidblocktabs li.selected a:link, .solidblocktabs a:active, .solidblocktabs li.selected a:active{
color: #f9f9f9;
text-decoration:none;
}

.solidblocktabs a:hover, .solidblocktabs li.selected a{
color: white;
background: transparent url(../../../images/menutree/ddtabs_solidblock/sb_black.gif) center center repeat-x;
text-decoration:none;
}

html>/**/body .IEonlybr{ /*None IE browsers hack*/
display: none; /*Hide BR tag in non IE browsers, since it's not needed*/
}

/* ######### Style for Drop Down Menu ######### */
.dropmenudiv_sbt{
position:absolute;
font: normal 12px Verdana;
background-color: #000;
border:0;
width: 200px;
margin:0;
margin-top:-1px;
padding:0;
top:0px;
line-height:18px;
z-index:110;
visibility: hidden;
}

.dropmenudiv_sbt a{
border: 0 solid #494949;
border-bottom-width: 1px;
padding: 3px 0;
font-weight: bold;
color: #f9f9f9;
text-indent: 5px;
width:auto;
display:block;
text-decoration:none;
}

* html .dropmenudiv_sbt a{ /*IE only hack*/
width:100%;
}

.dropmenudiv_sbt a:hover{
background-color: #494949;
color: white;
text-decoration:none;
}
