/*=============================================================================
Original at http://www.dynamicdrive.com/dynamicindex1/droptabmenu.htm 
Adapted for Zikula menutree, Erik Spaan, https://github.com/espaan/menus_menutree_extmenu
/*===========================================================================*/
.bluetabs{
margin:0;
padding:0;
float:left;
width:100%;
border-bottom: 1px solid gray;
}

.bluetabs ul{
padding: 3px 0 3px 5px;
margin: 1px 0 0;
font: bold 12px Verdana;
list-style-type: none;
text-align: left; /*set to left, center, or right to align the menu as desired*/
}

.bluetabs li{
display: inline;
margin: 0;
}

.bluetabs li a{
text-decoration: none;
padding: 3px 7px;
margin-right: 3px;
border: 1px solid #778;
color: #2d2b2b;
background: white url(../../../images/menutree/ddtabs_blue/bluetab.gif) top left repeat-x; /*THEME CHANGE HERE*/
}

.bluetabs li a:visited{
color: #2d2b2b;
}

.bluetabs li a:hover{
text-decoration: none;
color: #2d2b2b;
}

.bluetabs li.selected a{ /*selected main tab style */
background-image: url(../../../images/menutree/ddtabs_blue/bluetab_active.gif); /*THEME CHANGE HERE*/
border-bottom-color: white;
}

.bluetabs li.selected a:hover{ /*selected main tab style */
text-decoration: none;
}

/* ######### Style for Drop Down Menu ######### */
.dropmenudiv_bt{
position:absolute;
margin-top:1px;
border: 1px solid #918d8d; /*THEME CHANGE HERE*/
border-width: 0 1px;
font:normal 12px Verdana;
line-height:18px;
z-index:110;
background-color: white;
width: 200px;
visibility: hidden;
}

.dropmenudiv_bt a{
width: auto;
display: block;
text-indent: 5px;
border: 0 solid #918d8d; /*THEME CHANGE HERE*/
border-bottom-width: 1px;
padding: 2px 0;
text-decoration: none;
color: black;
}

* html .dropmenudiv_bt a{ /*IE only hack*/
width: 100%;
}

.dropmenudiv_bt a:hover{ /*THEME CHANGE HERE*/
text-decoration: none;
background-color: #edf3f3;
}

/* Holly Hack for IE \*/
* html .bluetabs ul li { height: 1%; }
* html .bluetabs ul li a { height: 1%; }
/* End */
