/* Credits: Dynamic Drive CSS Library */
/* URL: http://www.dynamicdrive.com/style/ */
/* Adapted for Zikula menutree, Erik Spaan, https://github.com/espaan/menus_menutree_extmenu */

#nav ul{
  margin-left: 0;
}

#nav .st_horiz ul{
  font: bold 1em "Trebuchet MS", "Lucida Sans", Verdana, Arial, sans-serif;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/*Top level list items*/
.st_horiz ul li{
  position: relative;
  display: inline;
  float: left;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9; /*overall menu background color*/
}

/*Top level menu link items style*/
.st_horiz ul li a{
  display: block;
  width: 90px; /*Width of top level menu link items*/
  padding: 1px 8px;
  border: 1px solid #999;
  border-width: 1px 0;
  text-decoration: none;
  color: #4d87c7;
}

/*1st sub level menu*/
.st_horiz ul li ul{
  left: 0;
  position: absolute;
  top: 1em; /* no need to change, as true value set by script */
  display: block;
  visibility: hidden;
}

/*Sub level menu list items (undo style from Top level List Items)*/
.st_horiz ul li ul li{
  display: list-item;
  float: none;
}

/*All subsequent sub menu levels offset after 1st level sub menu */
.st_horiz ul li ul li ul{ 
  left: 159px; /* no need to change, as true value set by script */
  top: 0;
}

/* Sub level menu links style */
.st_horiz ul li ul li a{
  display: block;
  width: 160px; /*width of sub menu levels*/
  text-decoration: none;
  padding: 1px 5px;
  border: 1px solid #999;
  text-decoration:none;
  background-color: #f9f9f9;
}

.st_horiz ul li a:link{
  text-decoration: none;
}

.st_horiz ul li a:hover{
  background: #4d87c7;
  color: #f9f9f9;
  text-decoration:none;
}

/*Background image for top level menu list links */
.st_horiz .mainfoldericon{
  background: url(../../images/menutree/suckertree/st_arrow_down_blue.gif) no-repeat center right;
}

/*Background image for subsequent level menu list links */
.st_horiz .subfoldericon{
  background: url(../../images/menutree/suckertree/st_arrow_right_blue.gif) no-repeat center right;
}

* html p#iepara{ /*For a paragraph (if any) that immediately follows suckertree menu, add 1em top spacing between the two in IE*/
  padding-top: 1em;
}

/* Holly Hack for IE \*/
* html .st_horiz ul li{ float: left; height: 1%;}
* html .st_horiz ul li a{ height: 1%;}
* html .st_horiz ul li ul li{ float: left;}
/* End */