.navcontainer_h {
  float:left;
  width:100%;
  background:#FCF3F8;
  font: bold 1em/1.5em verdana,arial,sans-serif;
  line-height:normal;
  border-bottom:1px solid #F4B7D6;
}
.navcontainer_h ul {
  margin:0;
  padding:10px 10px 0 50px;
  list-style:none;
}
.navcontainer_h li {
  display:inline;
  margin:0;
  padding:0;
}
.navcontainer_h a {
  float:left;
  background:url(../../../images/menu/horizontal/tableftD.gif) no-repeat left top;
  margin:0;
  padding:0 0 0 4px;
  text-decoration:none;
}
.navcontainer_h a span {
  float:left;
  display:block;
  background:url(../../../images/menu/horizontal/tabrightD.gif) no-repeat right top;
  padding:5px 15px 4px 6px;
  color:#C7377D;
}
.navcontainer_h a:hover span {
  color:#C7377D;
}
.navcontainer_h a:hover, .navcontainer_h li.selected a {
  background-position:0% -42px;
  text-decoration:none;
}
.navcontainer_h a:hover span, .navcontainer_h li.selected a span {
  background-position:100% -42px;
}
/* Commented Backslash Hack hides rule from IE5-Mac \*/
.navcontainer_h a span {float:none;}
/* End IE5-Mac hack */