.navcontainer_v {
  width: 200px; /* Fixed width image ! */
/*  margin: 10px;*/
  border: none;
}
.navcontainer_v ul, .navcontainer_v ul li {
  list-style:none;
  margin:0;
  padding:0;
}
.navcontainer_v li a {
  height:32px;
  voice-family:"\"}\""; 
  voice-family:inherit;
  height:24px;
  text-decoration:none;
}
.navcontainer_v li a:link, .navcontainer_v li a:visited {
  color:#4D4D4D;
  display:block;
  background:url(../../../images/menu/vertical/ebmenu10.gif);
  padding:8px 0 0 10px;
}
.navcontainer_v li a:hover, .navcontainer_v li.selected a {
  color:#FF9834;
  background:url(../../../images/menu/vertical/ebmenu10.gif) 0 -32px;
  padding:8px 0 0 10px;
  text-decoration:none;
}
/* Holly Hack for IE \*/
* html .navcontainer_v ul li { float: left; height: 1%; }
/* End */