.navcontainer_v {
  width: 200px; /* Fixed width image ! */
/*  margin: 10px;*/
  border-style: none dashed dashed dashed;
  border-color: #608FB5;
  border-width: 1px;
}
.navcontainer_v ul, .navcontainer_v ul li {
  list-style:none;
  margin:0;
  padding:0;
}
.navcontainer_v li a {
  height:32px;
  voice-family:"\"}\""; 
  voice-family:inherit;
  height:22px;
  text-decoration:none;
}
.navcontainer_v li a:link, .navcontainer_v li a:visited {
  color:#1D537F;
  display:block;
  background:url(../../../images/menu/vertical/elmenu7.gif) repeat-x 0 0;
  padding:10px 0 0 10px;
}
.navcontainer_v li a:hover {
  color:#FFF;
  background:url(../../../images/menu/vertical/elmenu7.gif) repeat-x 0 -32px;
  padding:10px 0 0 10px;
  text-decoration:none;
}
.navcontainer_v li a:active, .navcontainer_v li.selected a {
  color:#FFF;
  background:url(../../../images/menu/vertical/elmenu7.gif) repeat-x 0 -64px;
  padding:10px 0 0 10px;
  text-decoration:none;
}
/* Holly Hack for IE \*/
* html .navcontainer_v ul li { float: left; height: 1%; }
/* End */